<div class="app-container" ng-controller="CompaniesController as CCtrl">
  <!--Progress Bar-->
  <!-- Companies block -->
  <div class="col-xs-12 col-md-7 app-companies" ng-hide="productsShow">
    <div class="companies-header">
      <h3>Companies</h3>
    </div>
    <div class="companies-content">
      <!--Add new company form-->
      <div class="col-xs-10 col-md-8 list-group">
        <input type="text" name="new_company" ng-model="new_company" class="form-control" placeholder="New company" ng-style="{'border-color': uniq_company_name ? 'red' : 'none'}">
        <span class="not-uniq-company" ng-if="uniq_company_name">This company name already exists</span>
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="" class="btn btn-success a-btn-slide-text" ng-click="addCompany()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
      <!--All companies-->
      <div class="list-group" ng-repeat="company in companies | orderBy: 'companyName' | filter: filterName | filter: filterCompanyByProducts">
        <div class="col-xs-10 col-md-9 companies-list">
          <a href="" class="list-group-item"
                     ng-click="showProducts(company.companyName)"
                     ng-model='company.companyName'
                     ng-hide="editCompanyName">
                     {{company.companyName}}
          </a>
          <input type="text" class="form-control"
                             name="edited_company"
                             ng-value="company.companyName"
                             ng-model="edited_company[$index]"
                             ng-show="editCompanyName"
                             ng-style="{'border-color': uniq_edited_company_name ? 'red' : 'none'}"
                             required>
          <span class="not-uniq-company" ng-show="editCompanyName" ng-if="uniq_edited_company_name">This company name already exists</span>
        </div>
        <div class="col-xs-4 col-md-3">
              <a href="" class=" btn btn-info a-btn-slide-text"
                         ng-click="editCompanyName = !editCompanyName"
                         ng-hide="editCompanyName">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <a href="" class="btn btn-danger a-btn-slide-text"
                         ng-click="deleteCompany(company.companyName)"
                         ng-hide="editCompanyName">
                 <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
              <a href="" class="btn btn-info a-btn-slide-text"
                         ng-click="editCompany(company.companyName, company.companyGoods, [$index])"
                         ng-show="editCompanyName">
                 <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </a>
          </div>
      </div>
    </div>
  </div>
  <!-- Products block -->
  <div class="col-xs-12 col-md-7 app-products" ng-show="productsShow">
    <div class="products-header">
      <a href="" ng-click="productsShow=false">X</a>
      <h3>{{products.companyName}} Products</h3>
    </div>
    <div class="products-content">
      <!--Add new product-->
      <div class="col-xs-10 col-md-8 list-group">
        <input type="text" name="new_product" ng-model="new_product" class="form-control" placeholder="New product">
      </div>
      <div class="col-xs-4 col-md-2">
        <a href="" class="btn btn-success a-btn-slide-text" ng-click="addProduct(products.companyName, products.companyGoods)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
      <!--All products of selected company-->
      <div class="list-group" ng-repeat="product in products.companyGoods | filter: filterProducts">
        <div class="col-xs-10 col-md-9 products-list">
          <a class="list-group-item"
             ng-hide="editProductShow">
             {{product}}
          </a>
          <input type="text" class="form-control"
                             name="edited_product"
                             ng-model="edited_product[$index]"
                             ng-value="product"
                             ng-show="editProductShow">
        </div>
        <div class="col-xs-4 col-md-3">
          <a href="" class=" btn btn-info a-btn-slide-text"
                     ng-click="editProductShow = !editProductShow"
                     ng-hide="editProductShow">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="btn btn-danger a-btn-slide-text"
                     ng-click="deleteProduct(products.companyGoods,products.companyName, [$index])"
                     ng-hide="editProductShow">
             <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
          <a href="" class="btn btn-info a-btn-slide-text"
                     ng-click="editProduct(products.companyGoods,products.companyName, [$index])"
                     ng-show="editProductShow">
             <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Filters block -->
  <div class="col-xs-6 col-md-4 app-filters">
    <div class="filter-by-name-header">
      <h3>Filter by name</h3>
    </div>
    <div class="filter-by-name-content">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search">&#x2192;</i></div>
                  <input type="text" class="form-control filter-input" placeholder="Name" ng-model="filterName">
              </div>
          </div>
      </form>
    </div>
    <div class="filter-by-product-header">
      <h3>Filter by products</h3>
    </div>
    <div class="filter-by-product-content">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search">&#x2192;</i></div>
                  <input type="text" class="form-control filter-input" placeholder="Product" ng-model="filterCompanyByProducts">
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
<!--
<div class="text-center">
  <ul class="pagination">
  <li><a href="">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li><a href="">5</a></li>
</ul>
</div> -->
