$height: 100%;

body, html {
    height: $height;
}

.parallax {
    background-image: url("/assets/parallax_back.jpg");
    height: $height;
    width: $height;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-header{
  height:20%;
}
.app-companies{
  background: rgba(0,0,0,.8);
  color:white;
}
.app-filters{
  background: rgba(0,0,0,.8);
  color:white;
}
